<!doctype html>
<html>
<head>
    <title>Habit Track</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css'>

    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/choose-habit" class="btn btn-default btn-sm">Choose Habit</a>
    </div>

    <div class="row">

<!-- This quiz-box section will be visible only if the user has not yet taken the quiz. The page will load with a prompt to start the quiz, and the quiz questions and results will be dynamically loaded -->
        <div class="col-sm-12 assessment-box">
            <% if (!user.quiz.status) { %>
                <h2>HABIT ASSESSMENT</h2>
                <p>Start your Habit Assessment</p>
                
                <section>
                    <form action="/submit-quiz" method="post">
                        <% for(var i=0; i < questions.length; i++) { %>
                            <p><b><%= questions[i].text %>:</b></p>
                            <!-- another loop here to render the answers/inputs -->
                            <% for(var j=0; j < questions[i].answers.length; j++) { %>
                                <input type="<%= questions[i].answerType %>" name="<%= questions[i].category %> <%= questions[i].name %>" value="<%= questions[i].answers[j].score %>" /> <%= questions[i].answers[j].text %><br />
                            <% } %>

                        <% } %>
                        <input type="submit" value="Submit">
                    </form>
                </section>

                <% } else { %>
<!--                 <h2>QUIZ DONE</h2>
 -->            <% } %>
        </div>
    </div>

    <div class="row user-stats-box">
        <h2>User Stats</h2>
        <div class="col-sm-3 user-stats-image">
            <h3>user image</h3>
        </div>
        <div class="col-sm-6 user-stats-details">
            <h3>user stats details</h3>
            <ul>
                <li>Current Habit: <%= user.habit.currentHabit %></li>
                <li>Days on this Habit: <%= daysOnHabit %> </li>
                <li>Current Streak: <span id="js-current-streak"><%= user.habit.currentStreak %></span></li>
                <li>Best Streak: <span id="js-best-streak"><%= user.habit.bestStreak %></span></li>
            </ul>
        </div>
        <div class="col-sm-3 user-stats-graph">
            <h3>stats graph</h3>
            <!-- <% include pie.ejs %> -->
            <ul>
                <li>% progress toward 30 day goal</li>
            </ul>
        </div>

    </div>



    <div class="row current-day-box">
        <h2>Current Day</h2>
        <% if (!dateCheck)  { %>
            <form class='js-current-day'>
                <fieldset>
                    <p><%= habitQuestion %></p>
                    <input type="radio" name="dailyHabit" value="true"/> Yes <br />
                    <input type="radio" name="dailyHabit" value="false" /> No <br />
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        <% } %>
        <h3><%= tip %></h3>
    </div>

    <div class="row community-box">
        <h2>Community News</h2>
        <h3>There are 50 other people working on WATER!</h3>
        <ul>
            <li>Ex. "Jane D. just finished 30 days working on water!"</li>
            <li>Ex. "John D just started working on stress!"</li>
        </ul>
        
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <% if (user.twitter.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

    <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
    </div>

    <% include includes/footer.ejs %>
    


</div>
</body>

<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="../javascripts/app.js"></script>
</html>
