<!doctype html>
<html>
<head>
    <title>Habit Track</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css'>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>

<% include includes/navbar.ejs %>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-lg">Logout</a>
        <a href="/choose-habit" class="btn btn-default btn-lg">Choose Habit</a>
        <input class="btn btn-default btn-lg" id="js-account-button" type="submit" value="Account">
    </div>

    <div class="row hidden js-account-details">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fab fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row hidden js-account-details">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fab fa-twitter"></span> Twitter</h3>

                <% if (user.twitter.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>display name</strong>: <%= user.twitter.displayName %><br>
                        <strong>username</strong>: <%= user.twitter.username %>
                    </p>

                    <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fab fa-google-plus"></span> Google+</h3>

                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12 assessment-box">
        <% if (!user.quiz.status) { %>
            <h2>Habit Assessment</h2>
                <p>Welcome to Habit Track! To get started, please complete this Habit Assessment for recommendations on a Habit to begin working on.</p>
                <form action="/submit-quiz" method="post">
                    <% for(var i=0; i < questions.length; i++) { %>
                        <p><b><%= questions[i].text %>:</b></p>
                            <% for(var j=0; j < questions[i].answers.length; j++) { %>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="<%= questions[i].category %> <%= questions[i].name %>"   value="<%= questions[i].answers[j].score %>">
                                    <label class="form-check-label" for="exampleRadios1">
                                    <%= questions[i].answers[j].text %>
                                    </label>
                                </div>
                                <% } %>
                        
                        <% } %>
                    <input class="btn btn-lg btn-primary" type="submit" value="Submit">
                </form>
            <% } else { %>
                <% } %>
    </div>
</div>


<% if (user.quiz.status) { %>
    <div class="row user-stats-box">
        <div class="col-md-12">
            <h2>Your Stats</h2>
        </div>
        <div class="col-sm-3 user-stats-image">
            <h3>user avatar</h3>
        </div>
        <div class="col-sm-6 user-stats-details">
            <h3>user stats details</h3>
            <ul>
                <li>Current Habit: <%= user.habit.currentHabit %></li>
                <li>Days on this Habit: <%= daysOnHabit %> </li>
                <li>Current Streak: <span id="js-current-streak"><%= user.habit.currentStreak %></span></li>
                <li>Best Streak: <span id="js-best-streak"><%= user.habit.bestStreak %></span></li>
            </ul>
        </div>
        <div class="col-sm-3 user-stats-graph">
            <h3>stats graph</h3>
            <% include includes/progress.ejs %>
            <ul>
                <li>% progress toward 30 day goal</li>
            </ul>
        </div>
    </div>



    <div class="row current-day-box">
        <div class="col-md-12">
            <h2>Current Day</h2>
            <% if (!dateCheck)  { %>
                <form class='js-current-day'>
                    <fieldset>
                        <p><%= habitQuestion %></p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dailyHabit"   value="true">
                            <label class="form-check-label" for="dailyHabit">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dailyHabit"   value="false">
                            <label class="form-check-label" for="dailyHabit">No</label>
                        </div>
<!--                         <input type="radio" name="dailyHabit" value="true"/> Yes <br />
                        <input type="radio" name="dailyHabit" value="false" /> No <br /> -->
                    </fieldset>
                    <input class="btn btn-lg btn-primary" type="submit" value="Submit">
                </form>
            <% } %>
            <h3><%= tip %></h3>
            <h3 id="js-current-message"></h3>
        </div>
    </div>

    <div class="row community-box">
        <div class="col-md-12">
            <h2>Community News</h2>
            <h3>There are <%= currentHabitUsers %> other people working on <%= user.habit.currentHabit %>!</h3>
            <ul>
                <li>Ex. "Jane D. just finished 30 days working on water!"</li>
                <li>Ex. "John D just started working on stress!"</li>
            </ul>
        </div>
    </div>

    <% } else { %>
    <% } %>



    <% include includes/footer.ejs %>
    


</div>
</body>

<!-- jQuery and Bootstrap Scripts -->
    <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src="../javascripts/app.js"></script>
</html>
